<div id="foot">
    <div class="jumbotron" style="background-color:black;color:white;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 card" style="background-color:black;color:white;">
                    <div class="card-header" style="font-weight:bold;">Offices and Customer Support</div>
                    <div class="card-body">
                        Lahore&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Multan<br />
                        Karachi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Islamabad
                    </div>
                </div>
                <div class="col-sm-6 card" style="background-color:black;color:white;">
                    <div class="card-header" style="font-weight:bold;">Contact Info</div>
                    <div class="card-body">
                        <div class="block-5 mb-5">
                            <ul class="list-unstyled">
                                <li class="address">Address : 203 Careem St. Garden Town, Lahore, Punjab, Pakistan</li>
                                <li class="phone"><a href="tel://23923929210">Phone : +2 392 3929 210</a></li>
                                <li class="email">Mail : harispharmacy@info.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>