<div id="head">
    <div class="jumbotron" style="background-color:black;color:white;">
        <div class="container">
            <h1>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="border-style: double;font-weight:bold;font-style:italic;">&nbsp;Haris Pharmacy &nbsp;</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="btn-group">
                    <a href="~/Home/Login" class="btn btn-primary" style="background-color:white;color:black;border-color:white;">Sign Up</a>
                    <a href="~/Home/Login" class="btn btn-primary" style="background-color:white;color:black;border-color:white;">Login</a>
                </div>
            </h1>
        </div>
    </div>
    <div class="btn-group" style="left:560px;">
        <a id="home" href="~/Home/Index" class="btn btn-lg" style="color:black;">Home</a>
        <a id="shop" href="~/Home/Shop" class="btn btn-lg" style="color:black;">Shop</a>
        <a id="about" href="#" class="btn btn-lg" style="color:black;">About</a>
        <a id="cooontact" href="~/Home/Contact" class="btn btn-lg" style="color:black;">Contact</a>
    </div>
</div>